<html>
  <head>
  {% for cam in cams %}
     {% if cam.cam_status == 'warning' %}
     <title>{{ cam.cam_id }} camera location: {{ cam.cam_location }}</title>
     {% else %}
     <title>No warning cameras</title>
     {% endif %}
  {% endfor %}
   </head>
 {% for cam in cams %}
  {% if cam.cam_status == 'warning' %}
  <body>
  <h1>camera {{cam.cam_id}}: {{cam.cam_location}}</h1>
  <img src = "{% url 'livefe' %}">
  </body>
  {% else %}
  <body>		
  </body>	
  {% endif %}
  {% endfor %}
  <script>
        //var alert_audio = new Audio('audios/note.mp3');
        //alert_audio.volume = (10);
	//alert_audio.play();
  </script>
</html>
