<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resident page</title>
</head>
<body>

<div align="center" style="color: #000000;"onclick="popupOpen();">
공학관 1층복도
</div>
<img src="{% url 'livefe2'%}">
        <script>
            function popupOpen()
            {
                var url= "home/alert.html";
		        var winWidth = 1080;
	            var winHeight = 1080;
	            var popupOption= "width="+winWidth+", height="+winHeight;
		        window.open(url,"",popupOption);
            }
        </script>

</a>
</body>
</html>