<!DOCTYPE html>
{% load static %}
<meta charset="utf-8">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 로그인</title>
    <style>
        .gr div{
            padding: 10px;
			border: 10px solid #2db400;
			background-color: #e3ffe0;
        }
        body {
            background-image: url( "{% static 'backg2.jpg' %}");
        }
        input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

    </style>
</head>
<body>
    <div class="gr">
        <div  style="background-color:white; position: absolute; left: 1200px; top: 500px;" >
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="submit">
            <input type="reset" value="reset">
            </form>
        </div>
    </div>

</body>
<script>

</script>
</html>
